@import '../../App.scss';
.Services{
    width: 100%;
    min-height: 100vh;
    background-color: $white;
    padding: 100px 20px 20px 20px;

    .Services_Top{
        display: flex;
        flex-direction: column;
        align-items: center;

        .Services_Top_Part1{
            margin-bottom: 30px;
            font-size: $Display2;
        } 

        .Services_Top_Part2{
            margin-bottom: 30px;
            font-size: $Display7;
            text-align: center;
        } 
    }

    .Services_Down{
        margin-top: 25px;
        @include flex(space-evenly);
        flex-wrap: wrap;

        div{
            margin: 10px;
        }
    }
}
